.logincard{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logincontiner{
    width: 90%;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
 }
.login_header{
    height: 50px;
    width: 100%;
    border-bottom: solid;
    border-bottom-width: 0.1px;
    border-bottom-color: rgb(138, 136, 136);
    display: flex;
    align-items: center;
    font-size: 15px;font-weight: bolder;
}
.loginicon{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(63, 62, 62);
}
.logincardbtn{
    width: 100%;
    background-color:var(--black);
    color: #fff;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.loginfooder{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
}
.loginfooder_item_1{
     margin-top: 10px;
     font-size: 15px;
     color: #6326f0;
}
.loginfooder_item_2{
    margin-top: 10px;
    font-size: 15px;
    color: #6326f0;
}
.loginfooder_item_4{
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #8b14ec;
}
.loginfooder_item_3{
    margin-top: 10px;
    font-size: 15px;
    color:var(--textcolor);
}
.loginfooder_item_3 span{
    font-weight: bold;
    font-size: 15px;
    color: #8b14ec;
}
.sociallogins{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}@media only screen and (min-width: 768px) {
    .logincontiner{
        width: 30%;
        height: 500px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
     }
}
