.home{
    width: 100%;
    background-color: #fff;
}
.topcategories{
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
}
.topcategoriesheader{
    display: flex;
    margin-left: 10px;
    color: #000;
    font-weight: bolder;
    font-size: 18px;
}
.categoriesrow{
    display: flex;
    width:100% ;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.topcategoriesitems{
      width: 90%;
      height: 300px;
     
}
.topcategoriesimg{
    width: 100%;
    height: 250px;
    background-color: aliceblue;
}
.topcategoriestitel{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
   
}
.homebanner{
    height: 350px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display:flex;
    background-image:url('../../images/homebanner.jpg');
    background-size: 100% 100%;
   align-items: flex-end;
   
}
.bannercard{
  
   width: 100%;
   padding: 10px 10px 10px 10px;
    flex-direction: column;
    background-color: rgb(236, 232, 232);
    opacity: 0.6;   
    display: flex;
    box-shadow: 0px 10px 13px -7px #000000, 20px 21px 15px 8px rgba(255,255,255,0);   
}
.bannercard_titel{
    font-size: 25px;
    font-weight: bolder;
}
@media only screen and (min-width: 768px) {
    .topcategories{
        display: flex;
        margin-left: 30px;
        margin-right: 30px;
        flex-direction: column;
    }
    .topcategoriesheader{
        display: flex;
        margin-left: 20px;
        color: #000;
        font-weight: bolder;
        font-size: 18px;
    }
    .categoriesrow{
        display: flex;
        width:100% ;
        flex-direction: row;

       
    }
    .topcategoriesitems{
          width: 25%;
          height: 300px;
          margin: 20px;
    }
    .topcategoriesimg{
        width: 100%;
        height: 250px;
        background-color: aliceblue;
    }
    .topcategoriestitel{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
       
    }
    .homebanner{
        height: 350px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 10px;
        display:block;
        background-image:url('../../images/homebanner.jpg');
        background-size: 100% 100%;
       
    }
    .bannercard{
        position: relative;
        top: 50px;
        left: 50px;
        width: 400px;
        padding: 10px 10px 10px 10px;
         flex-direction: column;
         background-color: #fff;
         opacity: none; 
         display: flex;
         box-shadow: 0px 10px 13px -7px #000000, 20px 21px 15px 8px rgba(255,255,255,0);   
     }
}