.fooder_head{
    background-color: #151515;

}
.fooder{
   padding-top: 20px;
    width: 100%;
    display: flex;
    background-color:#151515;
}
.fooder_continer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-left: 10px;
    margin-right: 10px;
}
.fooder_titel{
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    margin-bottom: 10px;
}
.fooder_items{
    cursor: pointer;
    margin-bottom: 5px;
}
.fooder_item{
    font-weight:400;
    font-size: 14px;
    color: #B6B4B4;
    transition: .5s;

}
.fooder_item:hover{
    margin-left: 5px;
    color: #fff;
}
.fooder_food{
    display: flex;
    padding: 10px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.fooder_food span{
    margin-left: 5px;
    margin-right: 5px;
    color:#F70AAC;
}
.section_1{
    width: 100%;
    display: flex;
    justify-content:space-between;

}
.section_2{
    display: flex;
    width: 100%;
    justify-content:space-between;

}
@media only screen and (min-width: 768px) {
    .fooder_continer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        margin-left: 40px;
        margin-right: 40px;
    }
    .section_1{
        width: 50%;
        display: flex;
        justify-content:space-around;
    
    }
    .section_2{
        display: flex;
        width: 50%;
        justify-content:space-around;
    
    }
    .fooder_food{
        display: flex;
        padding: 20px;
        font-size: 15px;
        align-items: center;
        justify-content:space-between;
        flex-direction: row;

    
    }
}


