* {
  margin: 0;
  padding: 0;
  letter-spacing: 1.4px;
  font-family: "Lora";
}
:root {
  --black: #151515;
  --white: #ffffff;
  --textcolor:rgb(63, 62, 62);
}


::-webkit-scrollbar {
  width: 0;
  background: transparent;
}