.inputfiled {
    position: relative;
}
.searchbox {
    width: 100%;
    position: relative;
    margin-left: 20px;
}
.filed { 
    width: 100%; 
    padding: 12px 40px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    background-color: #fff;

} 
.searchboxfiled { 
    width: 100%; 
    padding: 12px 40px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    border-radius: 20px;
    background-color: #fff;

} 
.searchboxfiled:focus {
    outline: none !important;
    border:1px solid rgb(12, 12, 12);
  }
.filed:focus {
    outline: none !important;
    border:1px solid rgb(12, 12, 12);
  }
.filedicon{
    position: absolute;
    left: 15px;
    top: 40%;
    color:#000;
}
