.nav_header{
    height: 60px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    background-color:#fff;
    z-index:10;
    /* background:inherit; */
}
.nav_header_continer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}
.nav_logo_continer{
    float: left;
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.nav_items{
   display:none;
   width: 100%;
   height: 60px;
   align-items:center;
   justify-content: right;
   
}
.nav_mobile_item{
    display:flex;
    width: 100%;
    height: 60px;
    align-items:center;
    justify-content: right;
}
.logo{
    height: 20px;
    width: 20px;
}
.titel{
    margin-left: 5px;
    font-size: 18px;
    font-weight: bolder;
    color: #000;
}
.items{
    font-size: 13px;
    color: rgb(63, 62, 62);
    margin-right: 30px;
    transition: .2s;
}
.wrapper{
	display: none;
	justify-content: center;
	align-items: center;
    width: 700px;
}

.search_box{
	position: relative;
   display: flex;
   width: 95%; 
   margin-top: 5px;

}
.search_box .input_search{
	outline: none;
	border: 0;
	width: 100%; 
	height: 40px;
	color: rgb(58, 57, 57);
    background-color: #ECEDEF;

}
.loginbtn{
    border: solid;
    border-width: 0.1px;
    padding: 7px;
    margin-right: 10px;
}
.signupbtn{
    color:#fff;
    background-color:var(--black);
    border: solid;
    border-width: 0.1px;
    padding: 9px;
    margin-right: 10px;
}
/* tab css */
@media only screen and (min-width: 600px) {
  
}

/* desktop css */
@media only screen and (min-width: 768px) {
    .nav_header_continer{
        margin-left: 60px;
        margin-right: 60px;
    }
    .nav_items{
        display:flex;
     }
     .nav_mobile_item{
         display: none;
     }
     .items{
      cursor: pointer;
      transition: .2s;
    }
     .items:hover{
         font-size: 15px;
         color:#A802BF ;
         font-weight:bolder;
     }
     .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
    }
    
}

